$primary: rgb(91, 164, 164);
$background: hsl(180, 52%, 96%);
$lightGray: hsl(180, 18%, 96%);
// $lightGray: hsl(180, 31%, 95%);
$darkGray: hsl(180, 8%, 52%);
$veryDarkGray: hsl(180, 14%, 20%);
$filterItems: #dbf0ed;
